<!DOCTYPE html>
<html>
    <head>
        <title> Beverages </title>
        <style>
            h3 {
                font-size: 25px;
                font-weight: bold;
                font-family: monospace;
                font-style: oblique;
                text-decoration: underline;
            }

            .content {
                display: inline-block;
                padding: 20px;
                margin-left: 10px;
            }
        </style>
    </head>

    <body>
        <h3 align="center"> Beverages </h3>

        <ul id="food-list" style="list-style-type:none;">
            <li>
                <img src="../images/beveragesItems/minuteMaid.webp" alt="Minute Maid" />
                <div class="content">
                    <h4> Item 1</h4>
                    <h2> Minute Maid - Pulpy Orange 1L </h2>
                    <p style="background-color: yellow; width: 90px;"> MRP : Rs 75 </p>
                </div>
            </li>
            <hr/>
            <li>
                <img src="../images/beveragesItems/filterCoffee.webp" alt="Coffee" />
                <div class="content">
                    <h4> Item 2</h4>
                    <h2> Id Traditional Filter Coffee 150mL </h2>
                    <p style="background-color: yellow; width: 90px;"> MRP : Rs 80 </p>
                </div>
            </li>
            <hr/>
            <li>
                <img src="../images/beveragesItems/cocaCola.webp" alt="Coca Cola" />
                <div class="content">
                    <h4> Item 3</h4>
                    <h2> Coca Cola soft drink 2L </h2>
                    <p style="background-color: yellow; width: 90px;"> MRP : Rs 95 </p>
                </div>
            </li>
         </ul>

    </body>
</html>