<!DOCTYPE html>
<html>
    <head>
        <title> Cleaning </title>
        <style>
            h3 {
                font-size: 25px;
                font-weight: bold;
                font-family: monospace;
                font-style: oblique;
                text-decoration: underline;
            }

            .content {
                display: inline-block;
                padding: 20px;
                margin-left: 10px;
            }
        </style>
    </head>

    <body>
        <h3 align="center"> Cleaning and Household </h3>

        <ul id="food-list" style="list-style-type:none;">
            <li>
                <img src="../images/cleaningItems/harpic.webp" alt="Harpic" />
                <div class="content">
                    <h4> Item 1</h4>
                    <h2> Harpic Powerplus Disinfectant Toilet Cleaner 1L </h2>
                    <p style="background-color: yellow; width: 90px;"> MRP : Rs 155 </p>
                </div>
            </li>
            <hr/>
            <li>
                <img src="../images/cleaningItems/ariel.webp" alt="Ariel" />
                <div class="content">
                    <h4> Item 2</h4>
                    <h2> Ariel Detergent Washing Powder - Matic Front Load </h2>
                    <p style="background-color: yellow; width: 90px;"> MRP : Rs 355 </p>
                </div>
            </li>
            <hr/>
            <li>
                <img src="../images/cleaningItems/scotchBrite.webp" alt="Scotch Brite" />
                <div class="content">
                    <h4> Item 3</h4>
                    <h2> Scotch Brite Scrub Sponge Large </h2>
                    <p style="background-color: yellow; width: 90px;"> MRP : Rs 35 </p>
                </div>
            </li>
         </ul>

    </body>
</html>