<!DOCTYPE html>
<html>
    <head>
        <title> Fruits & Vegetables </title>
        <style>
            h3 {
                font-size: 25px;
                font-weight: bold;
                font-family: monospace;
                font-style: oblique;
                text-decoration: underline;
            }

            .content {
                display: inline-block;
                padding: 20px;
                margin-left: 10px;
            }
        </style>
    </head>

    <body>
        <h3 align="center"> Fruits and Vegetables </h3>

        <ul id="food-list" style="list-style-type:none;">
            <li>
                <img src="../images/fruitItems/mushrooms.webp" alt="Mushrooms" />
                <div class="content">
                    <h4> Item 1</h4>
                    <h2>  Fresho Mushrooms - Button 200g </h2>
                    <p style="background-color: yellow; width: 90px;"> MRP : Rs 48.80 </p>
                </div>
            </li>
            <hr/>
            <li>
                <img src="../images/fruitItems/avocado.webp" alt="Avocado" />
                <div class="content">
                    <h4> Item 2</h4>
                    <h2> Fresho Avocado 500g </h2>
                    <p style="background-color: yellow; width: 90px;"> MRP : Rs 88 </p>
                </div>
            </li>
            <hr/>
            <li>
                <img src="../images/fruitItems/blueberry.webp" alt="Blueberry" />
                <div class="content">
                    <h4> Item 3</h4>
                    <h2> Fresho Blueberry 125g </h2>
                    <p style="background-color: yellow; width: 90px;"> MRP : Rs 339 </p>
                </div>
            </li>
         </ul>

    </body>
</html>