<!DOCTYPE html>
<html>
    <head>
        <title> Home & Kitchen </title>
        <style>
            h3 {
                font-size: 25px;
                font-weight: bold;
                font-family: monospace;
                font-style: oblique;
                text-decoration: underline;
            }   

            .content {
                display: inline-block;
                padding: 20px;
                margin-left: 10px;
            }

        </style>
    </head>

    <body>
        <h3 align="center"> Home and Kitchen </h3>

        <ul id="food-list" style="list-style-type:none;">
            <li>
                <img src="../images/kitchenItems/biriyaniPot.webp" alt="Biriyani Pot" />
                <div class="content">
                    <h4> Item 1</h4>
                    <h2>Non Stick Biriyani Pot/Handi with Glass Lid</h2>
                    <p style="background-color: yellow; width: 90px;"> MRP : Rs 499</p>
                </div>
            </li>
            <hr/>
            <li>
                <img src="../images/kitchenItems/nonStickPan.webp" alt="Non-stick Pan" />
                <div class="content">
                    <h4> Item 2</h4>
                    <h2> Non Stick Tawa with Red Handle </h2>
                    <p style="background-color: yellow; width: 90px;"> MRP : Rs 369 </p>
                </div>
            </li>
            <hr/>
            <li>
                <img src="../images/kitchenItems/steelFlask.webp" alt="Steel Flask" />
                <div class="content">
                    <h4> Item 3</h4>
                    <h2> Pacific Steel Insulated Vacuum Flask </h2>
                    <p style="background-color: yellow; width: 90px;"> MRP : Rs 399 </p>
                </div>
            </li>
         </ul>

    </body>
</html>