<!DOCTYPE html>
<html>
    <head>
        <title> Meat & Diary </title>
        <style>
            h3 {
                font-size: 25px;
                font-weight: bold;
                font-family: monospace;
                font-style: oblique;
                text-decoration: underline;
            }

            .content {
                display: inline-block;
                padding: 20px;
                margin-left: 10px;
            }
        </style>
    </head>

    <body>
        <h3 align="center">Meat and Diary </h3>

        <ul id="food-list" style="list-style-type:none;">
            <li>
                <img src="../images/meatItems/chicken.webp" alt="Chicken" />
                <div class="content">
                    <h4> Item 1</h4>
                    <h2>Chicken Curry Cut - Skinless, AntiBiotic Residue Free, Hormone Free / 12-15 pieces</h2>
                    <p style="background-color: yellow; width: 90px;"> MRP : Rs 129</p>
                </div>
            </li>
            <hr/>
            <li>
                <img src="../images/meatItems/dahi.webp" alt="Dahi" />
                <div class="content">
                    <h4> Item 2</h4>
                    <h2> Britannia - Daily Fresh Dahi </h2>
                    <p style="background-color: yellow; width: 90px;"> MRP : Rs 60 </p>
                </div>
            </li>
            <hr/>
            <li>
                <img src="../images/meatItems/paneer.webp" alt="Paneer" />
                <div class="content">
                    <h4> Item 3</h4>
                    <h2> Id Natural Paneer </h2>
                    <p style="background-color: yellow; width: 90px;"> MRP : Rs 99 </p>
                </div>
            </li>
         </ul>

    </body>
</html>