<!DOCTYPE html>
<html>
    <head>
        <title> Snacks </title>
        <style>
            h3 {
                font-size: 25px;
                font-weight: bold;
                font-family: monospace;
                font-style: oblique;
                text-decoration: underline;
            }

            .content {
                display: inline-block;
                padding: 20px;
                margin-left: 10px;
            }
        </style>
    </head>

    <body>
        <h3 align="center"> Healthy Snacks </h3>

        <ul id="food-list" style="list-style-type:none;">
            <li>
                <img src="../images/snacksItems/multigrainBalls.webp" alt="Multigrain Balls" />
                <div class="content">
                    <h4> Item 1</h4>
                    <h2>GoodDiet - Multigrain Puffs (Butter Makhana) </h2>
                    <p style="background-color: yellow; width: 90px;"> MRP : Rs 20</p>
                </div>
            </li>
            <hr/>
            <li>
                <img src="../images/snacksItems/dryFruitMix.webp" alt="Dry fruit Mix" />
                <div class="content">
                    <h4> Item 2</h4>
                    <h2> Fresho Signature - Dry Fruit Mix 50g </h2>
                    <p style="background-color: yellow; width: 90px;"> MRP : Rs 65 </p>
                </div>
            </li>
            <hr/>
            <li>
                <img src="../images/snacksItems/quinoaPuffs.webp" alt="Quinoa Puffs" />
                <div class="content">
                    <h4> Item 3</h4>
                    <h2> GoodDiet - Quinoa Puffs (Onion Masala) </h2>
                    <p style="background-color: yellow; width: 90px;"> MRP : Rs 12 </p>
                </div>
            </li>
         </ul>

    </body>
</html>